$icomoon-font-path: "fonts" !default;

$icon-212: "\e900";
$icon-213: "\e901";
$icon-214: "\e902";
$icon-215: "\e903";
$icon-216: "\e904";
$icon-217: "\e905";
$icon-218: "\e906";
$icon-219: "\e907";
$icon-220: "\e908";
$icon-1: "\e909";
$icon-2: "\e90a";
$icon-3: "\e90b";
$icon-4: "\e90c";
$icon-5: "\e90d";
$icon-6: "\e90e";
$icon-7: "\e90f";
$icon-8: "\e910";
$icon-9: "\e911";
$icon-10: "\e912";
$icon-11: "\e913";
$icon-12: "\e914";
$icon-13: "\e915";
$icon-14: "\e916";
$icon-15: "\e917";
$icon-16: "\e918";
$icon-17: "\e919";
$icon-18: "\e91a";
$icon-19: "\e91b";
$icon-20: "\e91c";
$icon-21: "\e91d";
$icon-22: "\e91e";
$icon-23: "\e91f";
$icon-24: "\e920";
$icon-25: "\e921";
$icon-26: "\e922";
$icon-27: "\e923";
$icon-28: "\e924";
$icon-29: "\e925";
$icon-30: "\e926";
$icon-31: "\e927";
$icon-32: "\e928";
$icon-33: "\e929";
$icon-34: "\e92a";
$icon-35: "\e92b";
$icon-36: "\e92c";
$icon-37: "\e92d";
$icon-38: "\e92e";
$icon-39: "\e92f";
$icon-40: "\e930";
$icon-41: "\e931";
$icon-42: "\e932";
$icon-43: "\e933";
$icon-44: "\e934";
$icon-45: "\e935";
$icon-46: "\e936";
$icon-47: "\e937";
$icon-48: "\e938";
$icon-49: "\e939";
$icon-50: "\e93a";
$icon-51: "\e93b";
$icon-52: "\e93c";
$icon-53: "\e93d";
$icon-54: "\e93e";
$icon-55: "\e93f";
$icon-56: "\e940";
$icon-57: "\e941";
$icon-58: "\e942";
$icon-59: "\e943";
$icon-60: "\e944";
$icon-61: "\e945";
$icon-62: "\e946";
$icon-63: "\e947";
$icon-64: "\e948";
$icon-65: "\e949";
$icon-66: "\e94a";
$icon-67: "\e94b";
$icon-68: "\e94c";
$icon-69: "\e94d";
$icon-70: "\e94e";
$icon-71: "\e94f";
$icon-72: "\e950";
$icon-73: "\e951";
$icon-74: "\e952";
$icon-75: "\e953";
$icon-76: "\e954";
$icon-77: "\e955";
$icon-78: "\e956";
$icon-79: "\e957";
$icon-80: "\e958";
$icon-81: "\e959";
$icon-82: "\e95a";
$icon-83: "\e95b";
$icon-84: "\e95c";
$icon-85: "\e95d";
$icon-86: "\e95e";
$icon-87: "\e95f";
$icon-88: "\e960";
$icon-89: "\e961";
$icon-90: "\e962";
$icon-91: "\e963";
$icon-92: "\e964";
$icon-93: "\e965";
$icon-94: "\e966";
$icon-95: "\e967";
$icon-96: "\e968";
$icon-97: "\e969";
$icon-98: "\e96a";
$icon-99: "\e96b";
$icon-100: "\e96c";
$icon-101: "\e96d";
$icon-102: "\e96e";
$icon-103: "\e96f";
$icon-104: "\e970";
$icon-105: "\e971";
$icon-106: "\e972";
$icon-107: "\e973";
$icon-108: "\e974";
$icon-109: "\e975";
$icon-110: "\e976";
$icon-111: "\e977";
$icon-112: "\e978";
$icon-113: "\e979";
$icon-114: "\e97a";
$icon-115: "\e97b";
$icon-116: "\e97c";
$icon-117: "\e97d";
$icon-118: "\e97e";
$icon-119: "\e97f";
$icon-120: "\e980";
$icon-121: "\e981";
$icon-122: "\e982";
$icon-123: "\e983";
$icon-124: "\e984";
$icon-125: "\e985";
$icon-126: "\e986";
$icon-127: "\e987";
$icon-128: "\e988";
$icon-129: "\e989";
$icon-130: "\e98a";
$icon-131: "\e98b";
$icon-132: "\e98c";
$icon-133: "\e98d";
$icon-134: "\e98e";
$icon-135: "\e98f";
$icon-136: "\e990";
$icon-137: "\e991";
$icon-138: "\e992";
$icon-139: "\e993";
$icon-140: "\e994";
$icon-141: "\e995";
$icon-142: "\e996";
$icon-143: "\e997";
$icon-144: "\e998";
$icon-145: "\e999";
$icon-146: "\e99a";
$icon-147: "\e99b";
$icon-148: "\e99c";
$icon-149: "\e99d";
$icon-150: "\e99e";
$icon-151: "\e99f";
$icon-152: "\e9a0";
$icon-153: "\e9a1";
$icon-154: "\e9a2";
$icon-155: "\e9a3";
$icon-156: "\e9a4";
$icon-157: "\e9a5";
$icon-158: "\e9a6";
$icon-159: "\e9a7";
$icon-160: "\e9a8";
$icon-161: "\e9a9";
$icon-162: "\e9aa";
$icon-163: "\e9ab";
$icon-164: "\e9ac";
$icon-165: "\e9ad";
$icon-166: "\e9ae";
$icon-167: "\e9af";
$icon-168: "\e9b0";
$icon-169: "\e9b1";
$icon-170: "\e9b2";
$icon-171: "\e9b3";
$icon-172: "\e9b4";
$icon-173: "\e9b5";
$icon-174: "\e9b6";
$icon-175: "\e9b7";
$icon-176: "\e9b8";
$icon-177: "\e9b9";
$icon-178: "\e9ba";
$icon-179: "\e9bb";
$icon-180: "\e9bc";
$icon-181: "\e9bd";
$icon-182: "\e9be";
$icon-183: "\e9bf";
$icon-184: "\e9c0";
$icon-185: "\e9c1";
$icon-186: "\e9c2";
$icon-187: "\e9c3";
$icon-188: "\e9c4";
$icon-189: "\e9c5";
$icon-190: "\e9c6";
$icon-191: "\e9c7";
$icon-192: "\e9c8";
$icon-193: "\e9c9";
$icon-194: "\e9ca";
$icon-195: "\e9cb";
$icon-196: "\e9cc";
$icon-197: "\e9cd";
$icon-198: "\e9ce";
$icon-199: "\e9cf";
$icon-200: "\e9d0";
$icon-201: "\e9d1";
$icon-202: "\e9d2";
$icon-203: "\e9d3";
$icon-204: "\e9d4";
$icon-205: "\e9d5";
$icon-206: "\e9d6";
$icon-207: "\e9d7";
$icon-208: "\e9d8";
$icon-209: "\e9d9";
$icon-210: "\e9da";
$icon-211: "\e9db";
$icon-2072: "\e9dc";
$icon-2082: "\e9dd";

